:root {
    /* variables */
    --light-blue: #9effb8;
    --dark-blue: #89aee1;
    --pink: #d46ce7;
    --pinky: #f6a3ef;
    --yellow: #e9f259;
    --old-yellow: #eecd69;
    --turquese: #7cf4d3;
}

/* animations */

@keyframes body-background {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

html, body {
    color: var(--light-blue);
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
    background-image: url("../img/starsbackground.jpg");
    background-repeat: repeat;
    animation-name: body-background;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

button {
    margin-top: 1.2rem;
    height: 3rem;
    border-radius: 100%;
    background-color: var(--pink);
    color: var(--old-yellow);
    font-family: sans-serif;
    font-size: larger;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

form {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    padding: 5rem;
}

input, select, textarea {
    background-color: var(--yellow);
    color: var(--pink);
    font-size: large;
    width: 15rem;
    height: 1.2rem;
}